.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Env files (ignore actual secret files only)
config/.env
.env

# Logs
*.log
